################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Infrastructure/obj
/src/Doamin/obj/Debug/net8.0
/src/Doamin/obj
/src/Application/obj
